*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: url(../Imagenes_Moda/ImagInicio.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
p{
    text-align: center;
    position: relative; 
    font-size: 1.25em;
    width: 400px;
    padding: 20px;
    left: 10%;
    color: white;
}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: white;
    align-content: center;
    position: relative; 
    right: 9; 
    bottom: 8; 
    left: 19%;
}
button:hover{
    background-color: gray;
}
img{
    padding: 30px;
    width: 800px;
}
@media (max-width: 600px){
    body{
        margin: 0;
        background: url(../Imagenes_Moda/ImagenCel.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    p{
        text-align: center;
        position: relative; 
        font-size: 1.5em;
        width: 400px;
        padding: 20px;
        left: 3%;
        top: 150px;
        color: rgb(250, 248, 248);
    }
    button{
        font-size: 1.3em;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 15px;
        border: 2px solid rgba(0,0,0,0.3);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        color: black;
        background-color: white;
        align-content: center;
        position: relative; 
        right: 10px; 
        top: 200px;
        left: 33%;
    }
    button:hover{
        background-color: gray;
    }
    img{
        
        padding: 40px;
        width: 430px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body{
        margin: 0;
        background: url(../Imagenes_Moda/ImagenCel.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    p{
        align-items: center;
        text-align: center;
        position: relative; 
        font-size: 2em;
        width: 500px;
        padding: 20px;
        left: 20%;
        top: 150px;
        color: rgb(250, 248, 248);
    }
    button{
        font-size: 2em;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 15px;
        border: 2px solid rgba(0,0,0,0.3);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        color: black;
        background-color: white;
        align-content: center;
        position: relative; 
        right: 10px; 
        top: 200px;
        left: 39%;
    }
    button:hover{
        background-color: gray;
    }
    img{
        padding: 40px;
        width: 800px;
    }
}